<% include ./partials/header.ejs %>

<div class="w-full h-screen bg-zinc-300 flex items-center justify-center">
  <div class="w-[25vw] bg-white px-20 py-10 rounded-[30px]">
  <h1 class="text-3xl text-center text-zinic-700 capitalize leading-none font-semibold">Welcome to Pinterest.</h1>
  <form action="/login" method="post">
    <input class="border-2 rounded-md block w-full px-3 py-2 mt-2" type="text" name="username" placeholder="username">
    <input class="border-2 rounded-md block w-full px-3 py-2 mt-2" type="password" name="password" placeholder="password">
    <a href="#" class="mt-2 inline-block font-semibold">Forget password ?</a>
    <input class="border-2 block w-full px-3 py-2 mt-2 bg-red-600 text-white rounded-full" type="submit" value="Log in">
    <p class="text-zinic-700 text-xs mt-4 mx-auto w-2/3 text-center">By continuing, you agree to Pinterest's Terms of Service and acknowledge you've read our Privacy Policy. Notice at collection.
    </p>
    <a href="/register" class="w-full text-sm font-semibold inline-block mt-4 text-center text-zinic-700">Not on Pinterest yet? Sign up</a>
  </form>
</div>
</div>


<% include ./partials/footer.ejs %>
